@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header id="header">
    <h2 id="brand">Seattle Coffee</h2>
</header>
<div class="container-fluid front-page">


    <div class="row main-row">

        <div class="main col-sm-4 carousel vertical slide" id="left-main" data-ride="carousel">
        <div class="words">OUR MENU</div>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Images/drip.jpg" id="cs-1" class="cs" />
                </div>
                <div class="item">
                    <img src="~/Content/Images/scoop.jpg" id="cs-2" class="cs" />
                </div>
            </div> <!--END CAROUSEL INNER-->
        </div> <!--END CAROUSEL LEFT-->

        <div class="main col-sm-4" id="mid-main">
            <div class="words">OUR BEANS</div>
            <img src="~/Content/Images/beans.jpg" />
        </div> <!--END MID-MAIN-->

        <div class="main col-sm-4 carousel vertical slide" id="right-main" data-ride="carousel">
            <div class="words">OUR PEOPLE</div>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Images/shop.jpg" id="cs-3" class="cs" />
                </div>
                <div class="item">
                    <img src="~/Content/Images/shop2.jpg" id="cs-4" class="cs" />
                </div>
            </div> <!--END CAROUSEL INNER-->
        </div> <!--END CAROUSEL RIGHT-->

    </div> <!--END ROW-->


</div> <!-- END CONTAINER-->
