
@{
    ViewBag.Title = "People";
}

<header id="header">
    <a id="brand-link" href="@Url.Action("Index", "Home")"><h2 id="brand">CLEVELAND COFFEE CO.</h2></a>
</header>
<div class="au-background-vid">
    <video autoplay loop class="fillWidth">
        <source src="~/Content/Video/Double_Espresso.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <p class="au-paragraph">
        <span class="au-ccc">CLEVELAND COFFEE CO.</span><span class="au-rest-of-paragraph">is a locally owned business whose owners reside and operate their business in Wooster. They have a deep passion for buying locally produced products and take pride in being able to help produce a local product with fair trade and organic origins.
        <br /><br />Having roasted since the end of 2011, Mike and Elizabeth opened the Cleveland Coffee Co. storefront in 2016. The coffee company focuses on buying only single origin beans from a variety of regions around the world. Each of their featured coffees has an individual story and background,
        whether its grown in a biosphere reserve, through a cooperative or on a fair trade organic farm. They strive to produce a superior coffee product while helping out other small business owners from all over the globe.
        <br /><br />Cleveland Coffee Co. beans are exclusively air roasted to bring out the flavor and integrity of the bean, not burn it to a crisp. Small batch roasting also ensures that each bean is consistently and congruently roasted by the end of the roast, making sure that each sip was as good as the last!
        <br /><br />Overall, Cleveland Coffee Co. just want to bring our customers a better cup of coffee and as the business grows Eric and Liz can rest assured that their fellow community members are drinking a fresh and delicious cup of joe.</span>
    </p>
    <div class="poster hidden">
        <img src="~/Content/Images/pour.jpg" alt="">
    </div>
</div>


