@model IEnumerable<Coffee.Bean>

@{ 
    var total = ViewBag.Total;
    Dictionary<string, int> beans = new Dictionary<string, int>();
    foreach (var bean in Model)
    {
        int count = Model.Where(b => b.ID == bean.ID).Count();
        beans[bean.Origin] = count;
    }
}

<div class="shopping-cart">
    <div class="cart-header">
        <h1>Your Cart :</h1>
    </div>
    <div class="cart-body">
        @foreach (var kvp in beans)
        {
             <h6 class="cart-item cart-word">@kvp.Key</h6>     
             <h6 class="cart-quantity cart-word">@kvp.Value</h6>
        }
        <hr />
    </div>
    <div class="cart-footer cart-word">@total.ToString("C")</div>
</div>
