* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    user-select: none;
    transition-duration: .1s;
}

.clear {
    clear: both;
}

/*******************VARIABLES*************************/

:root {
    --header-height: 240px;
    --font-color-main: rgba(255, 240, 219, .9);
    --color-coffee: #0D0402;
    --table-row-underline: rgba(240, 240, 240, .3);
    --header-background-color: rgba(20, 20, 20, .9);
    --font-family-header: "Anton", sans-serif;
    --font-family-paragraph: "Open Sans", sans-serif;
}

/*******************END VARIABLES*************************/


/*******************ANIMATIONS****************************/

@keyframes background-shift {
    0% {
        background-position: center;
    }

    100% {
        background-position: right;
    }
}

.transition {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

/*******************END ANIMATIONS****************************/


/*********************************MEDIA QUERIES****************************************/

/*********************************END MEDIA QUERIES****************************************/

header {
    height: var(--header-height);
    width: 100vw;
    background-color: var(--header-background-color);
    position: fixed;
    z-index: 4;
    overflow: hidden;
}

#brand {
    color: var(--font-color-main);
    font-size: 6rem;
    text-orientation: sideways;
    width: var(--header-height);
    height: var(--header-height);
    top: 0;
    left: 1rem;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-family: var(--font-family-header);
    position: relative;
}

#link-divide {
    border: none;
    border-left: 2px solid rgba(230, 230, 230, .6);
    height: 20px;
    width: 1rem;
}

#brand-link {
    text-decoration: none;
}

.front-page {
    padding: 0 !important;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.carousel {
    padding: 0 !important;
    margin: 0;
}

.words {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 6rem;
    text-wrap: none;
    width: 100%;
    text-align: center;
    color: rgba(250, 250, 250, .95);
    position: absolute;
    top: 75%;
    z-index: 2;
}

.main-row {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#mid-main > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

div#mid-main.main.col-sm-4 {
    padding: 0;
}

#cs-1, #cs-2, #cs-3, #cs-4 {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

#left-main {
    width: 33%;
}

/*************************************BEANS****************************************/

#beans-header {
    height: var(--header-height);
    background-image: url("http://res.cloudinary.com/yyy32pf/image/upload/q_auto:low/v1522539178/beans2RESIZE.jpg");
    background-size: cover;
    position: fixed;
}

.title-flip#brand {
    font-size: 11rem;
    transform: rotate(0deg);
    height: 100px;
    width: 200px;
    position: absolute;
    top: -10px;
}

.bean-background {
    background-image: url("http://res.cloudinary.com/yyy32pf/image/upload/q_auto:low/v1522539190/farm.jpg");
    background-size: cover;
    background-position: left;
    animation-name: background-shift;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 200s;
    overflow: hidden;
}

.bean-description-page {
    width: 70vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 350px !important;
}

.bean-info-box {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    margin: 20px 20px !important;
    box-shadow: 0 5px 10px -5px rgba(50, 20, 20, .8);
    transition: all .2s ease-in-out;
    position: relative;  
}

.bean-info-box:hover {
    cursor: pointer;
}

.bean-about {
    text-align: left;
    font-family: "Open Sans", sans-serif;
}

.hid {
    display: none;
}

.bean-image {
    width: auto;
    height: 100%;
}

.bean-description {
    height: 80px;
    width: 300px;
    background-color: white;
    position: relative;
    padding: 1rem !important;
    position: absolute;
    bottom: 0;
}

.bean-description.bean-description-expand {
    height: 220px;
}

.bean-name {
    text-align: left;
    font-size: 3.5vh;
    color: slategray;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
}

.cart {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    color: #944F50;
}

.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
}

.add-to-cart, .remove-from-cart {
    display: inline-block;
    margin-left: 1rem !important;
    border: none !important;
    background: none !important;
    font-size: 3rem;
    z-index: 90;
    color: #944F50;
    padding: 1rem;
    outline: none;
}

.bean-price {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #944F50;
    font-family: "Open Sans", sans-serif;
}

/*********************************END BEANS****************************************/


/*********************************SHOPPING CART****************************************/


#carts {
    position: fixed;
    bottom: 0;
    right: -300px;
    width: 300px;
    height: 300px;
    background-color: white;
    transition: right 0.1s linear;
}

#carts.visible {
    right: 0px;
}

.cart-header {
    height: 20%;
    background-color: var(--color-coffee);
    color: var(--font-color-main);
}

.cart-header h1 {
    font-family: var(--font-family-header);
    padding: 1rem !important;
}

.cart-body {
    margin: 0 1rem 1rem 1rem !important;
    display: grid;
    grid-template-columns: repeat(1fr 1fr);
    grid-template-rows: repeat(10px);
    grid-template-areas: 
        'item quantity'
        'footer footer';
}

.cart-word {
    font-family: var(--font-family-paragraph);
    font-size: 2rem;
}

.cart-item {
    display: block;
    position: static;
}

.cart-quantity {
    display: block;
    position: static;
    text-align: right;
}

.cart-footer {
    grid-area: footer;
    position: absolute; 
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
}

.viewbag-data {
    display: none;
}



/*********************************END SHOPPING CART****************************************/


/*********************************ABOUT US****************************************/


.au-background-vid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

video {
    position: fixed;
    bottom: 0;
    right: 0;
}

.au-paragraph {
    position: absolute;
    top: 350px;
    font-family: "Open Sans", sans-serif;
    color: white;
    background-color: rgba(200, 200, 200, .8);
    width: 1000px;
    text-align: justify;
    text-align-last: left;
    height: auto;
    padding: 15rem 10rem 15rem 10rem !important;
    font-size: 1.7rem;
}

.au-rest-of-paragraph #man{
    margin-left: 1rem !important;
}

.au-ccc {
    font-family: "Anton", sans-serif;
    font-size: 6rem;
    float: left;
    padding-right: 1rem !important;
}

#man {
    float: right;
    height: 20vw;    
}

#woman {
    width: 100%;
    margin-top: 3rem !important;
}

/*********************************END ABOUT US****************************************/



/*********************************MENU****************************************/

.header-spacer {
    height: var(--header-height);    
}

.menu-links {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#beans-link, #people-link {
    text-decoration: none;
}

table {
    font-family: "Open Sans", sans-serif;
}

#menu-people, #menu-beans {
    color: rgba(230, 230, 230, .8);
    font-size: 2rem;
    margin-right: 10px !important;
    font-family: "Anton", sans-serif;
}

.menu-background {
    background-image: url("http://res.cloudinary.com/yyy32pf/image/upload/q_auto:low/v1522539193/beans4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-items {
    height: 100vh;
    position: relative;
    top: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.iced-drinks-table, .hot-drinks-table {
    box-sizing: content-box !important;
    padding: 50px !important;
    width: 40vw;
    font-size: 2rem;
    color: white;
    background: inherit;
    overflow: hidden;
    background-color: var(--header-background-color);
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, .4);
    margin-bottom: 50px !important;
}

.iced-drinks-table th, .hot-drinks-table th {
    height: 40px;
    padding: 1rem !important;
    border-bottom: 1px solid var(--table-row-underline);
}

.iced-drinks-table td, .hot-drinks-table td {
    padding: 0 1rem !important;
    border-bottom: 1px solid var(--table-row-underline);
}

.menu-price {
    text-align: right;
}

#cold-price, #hot-price {
    text-align: right;
}

/*********************************END MENU****************************************/

